@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* @media only screen and (min-width: 1024px) {
  :root {
    --root-margin: 11%;
  }
} */
